@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

.logo {
  max-width: 180px;
}

.banner {
  background-image: url("../../assets/images/back.jpg");
  box-shadow: inset 0 0 0 2000px #ffffff9a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-card {
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  padding: 50px; */
}

.big-text {
  font-family: "Zen Dots", cursive;
  font-size: 50px;
}

.section-header {
  padding: 4px 8px;
  display: inline-block;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative;
}

.sectoin::before {
  content: "";
  border: 2px solid #353535;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1.015);
}

.contest-icons {
  width: 80px;
  height: 85px;
  margin-bottom: 5px;
}

.contest-card {
  transition: all 0.2s;
}

.contest-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
