* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
}

/* .Container {
  margin: 0 auto;
}

@media only screen and (min-width: 1400px) {
  .Container {
    max-width: 1320px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .Container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .Container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .Container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .Container {
    max-width: 540px;
  }
}

@media only screen and (max-width: 575px) {
  .Container {
    max-width: 100%;
    padding: 0 20px;
  }
} */